h1 {
    text-align: center;
    font-weight: bold;
    font-weight: 900;
    }
h2 {
    text-align: center;
    font-weight: bold;
    font-weight: 900;
   }
.qoute1 {
    width: 300px;
    padding: 20px;
    margin: auto;
    border-style: dotted;
    border-color: red;
    border-style: dashed;
    text-align: justify;
    margin-bottom: 10px;
}
.qoute2 {
    width: 300px;
    padding: 20px;
    margin: auto;
    border-style: dotted;
    border-color: red;
    border-style: dashed;
    text-align: justify;
    margin-bottom: 10px;
}
.qoute3 {
    width: 300px;
    padding: 20px;
    margin: auto;
    border-style: dotted;
    border-color: red;
    border-style: dashed;
    text-align: justify;
    margin-bottom: 10px;
}
